body {
  background: #1D2B53;
  overflow-x: hidden;
}

.headerdiv {
  background: #7E2553;
  border: 2px solid #FF004D;
  border-radius: 10px;
  box-shadow: -10px 5px 3px 0px #000000;
  -webkit-text-stroke-width: px;
  -webkit-text-stroke-color: black;
}

.headertext {
  color: #f0f3ff;
  font-family: "Press Start 2P", system-ui;
}

.nameInput {
  background: #f0f3ff;
  border: 2px solid #FF004D;
  border-radius: 10px;
  height: 25vw;
  width: 15vw;
  box-shadow: -10px 5px 3px 0px #000000;
}

.selectedName {
  background: #f0f3ff;
  border: 2px solid #FF004D;
  border-radius: 10px;
  height: 5vw;
  width: 50vw;
  box-shadow: -10px 5px 3px 0px #000000;
}

.nameDisplay {
  background: #f0f3ff;
  border: 2px solid #FF004D;
  border-radius: 10px;
  height: 25vw;
  width: 15vw;
  box-shadow: -10px 5px 3px 0px #000000
}

.threenamedivs {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.footerstyling {
  position: fixed;
  bottom: 0;
  width: 100%;
  
  border-top: 2px solid #FF004D;
}

.bg-custom {
  background: #7E2553;
}

.btn-4 {
  border: 1px solid white;
  overflow: hidden;
  position: relative;
  color: white;
  
  span {
    z-index: 20;
    color: white;
  }
  
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
    color: white;
  }
}

.btn-4:hover {
  border: 1px solid white;
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    color: white;
  }
}